<?xml version="1.0"?>
<launch>
  <arg name="robot" default="cr5" />
  <arg name="problem" default="cr5_problem" />

  <node name="gpmp2_planner_py" pkg="gpmp2_planner_py" type="gpmp2_planner_py.py" output="screen" />

  <rosparam command="load" file="$(find gpmp2_planner_py)/config/$(arg robot).yaml" />
  <rosparam command="load" file="$(find gpmp2_planner_py)/problem/$(arg problem).yaml" />
</launch>
