<?xml version="1.0"?>
<robot name="cr5_with_kinect" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find cr5_description)/urdf/inertia.xacro" />  
    <xacro:include filename="$(find cr5_description)/urdf/cr5_dh.urdf.xacro" />  
    <!-- <xacro:include filename="$(find cr5_description)/urdf/cr5.urdf.xacro" />   -->
    <xacro:include filename="$(find cr5_description)/urdf/kinect_sensors.xacro" />  


</robot>